body, html {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5, h6{
  margin: 0px;
  padding: 0px;
  display: inline;
  font-weight: normal;
}

h2{
  font-weight: bold;
}

a{
  text-decoration: none;
  color: inherit;
}

p{
  margin: 0;
  padding: 0;
}


/*/////////////////////////////    PARALLAX    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.parallax{
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

.bgimg-1{
  background-image: url('../IMAGES/parallax/website_creating.png');
  min-height: 100%;
}

.bgimg-2{
  background-image: url('../IMAGES/parallax/bghtml.jpg');
  min-height: 60%;
}

.bgimg-3{
  background-image: url('../IMAGES/parallax/bgcss.png');
  min-height: 60%;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}


/*/////////////////////////////    HEADER    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#naglowek_strony{
  position: fixed;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: white;
  box-shadow: 0px 0px 20px;
  z-index: 1000;
}

.header_button{
  height: 100%;
  float: left;
  font-size: 13px;
  padding: 0px 10px;
  transition: 0.3s;
  cursor: pointer;
}

.header_button:hover{
  background-color: #bfbfbf;
}

.icon{
  float: left;
  width: 16px;
  height: 16px;
  margin: 12px 0px;
  margin-right: 5px;
}

#home_icon{
  float: left;
  width: 16px;
  height: 18px;
  margin-top: 10px;
  margin-bottom:12px;
  margin-right: 5px;
}


/*/////////////////////////////    1 KONTENER    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.kontener_caly{
  min-height:250px;
  width: 100%;
}

.blue{
  color: blue;
}

.orange{
  color: darkorange;
}

/*----------------------------     wstęp      ----------------------------------------------------------------------------------------------------------*/

.tekst_wstepny{
  text-align: center;
}

/*----------------------------     Front-end i Back-end      ----------------------------------------------------------------------------------------------------------*/

#dziedziny{
  width: 83%;
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 5px;
  text-align: justify;
}

#frontend{
  flex:1;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

#backend{
  flex:1;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

#frontbackobraz{
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}

#frontbackimg{
  width: 100%;
  border-radius: 20px;
  box-shadow: 10px 10px 10px gray;
}

/*----------------------------     reszta tekstu pierwszego konteneru      ----------------------------------------------------------------------------------------------------------*/

.k1{
  width: 70%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  color: #595959;
  font-size: 16px;
}





#code{
  height: 40px;
  width:130px;
  margin: auto;
  background-color: #f2f2f2;
  border-radius: 50px;
  transition: 0.7s;
  cursor: pointer;
}
#codeimg{
  height: 40px;
  width: 50px;
  padding: 0 40px;
  margin: auto;
}
#code:hover{
  background-color: white;
}


/*/////////////////////////////    2 KONTENER - HTML I CSS   //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.k2, .k3{
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: #595959;
}

.t2, .t3{
  width: 100%;
  margin: auto;
  margin-top: 100px;
}


.naglowek_kontenera{
  text-align: center;
  text-shadow: 5px 5px 10px silver;
}

.tresc_kontenera{
  text-align: center;
}


.kontener_bloku{
  margin: auto;
  margin-bottom: 100px;
  margin-top: 100px;
  width: 80%;

}
.obraz_bloku{
  border-radius: 100px;
  width: 100%;
}




/*---------------------------   Podpowiedź po najechaniu    -----------------------------------------------------------------------------------------*/
[data-tooltip]{
  cursor: help;
  position: relative;
}

[data-tooltip]:hover:after{
  content: attr(data-tooltip);
  min-width: 280px;
  background-color: #f2f2f2;
  padding: 6px;
  border-radius: 10px;
  position: absolute;
  bottom: 25px;
  left: 50px;
  font-size: 0.9em;
  font-weight: bold;
  z-index: 1000;
  color: gray;
  text-align: center;
  opacity: 0.8;
}



/*////////////////////////     FOOTER     //////////////////////////////////////////////////////////////////////////////////////////////*/

footer{
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #262626;
  color: silver;
  position: relative;
  display: flex;
  align-items: center;
}


#tworca{
  flex:1;
  margin-left: 15px;
  font-size: 13px;
  transition: 0.4s;
}

#tworca:hover{
  color: white;
}



#up{
  flex:3;
  text-align: center;
}







#socialmedia{
  flex:1;
  height: 100%;
  margin-right: 15px;
  display: flex;
  align-items: center;
}




#fejs:before{
  content: url("../IMAGES/footer/facebook.png");
  display: inline-block;
  z-index: 1000;
  zoom:5%;
  padding-right: 200px;
}

#fejs:hover:before{
  content: url("../IMAGES/footer/facebook_white.png");
  display: inline-block;
  z-index: 10000;
}


#insta:before{
  content: url("../IMAGES/footer/instagram.png");
  display: inline-block;
  z-index: 1000;
  zoom:5%;
  padding-right: 2000px;
}

#insta:hover:before{
  content: url("../IMAGES/footer/instagram_white.png");
  display: inline-block;
  z-index: 10000;
}


#snap:before{
  content: url("../IMAGES/footer/snapchat.png");
  display: inline-block;
  z-index: 1000;
  zoom:5%;
  margin-right: 200px;
}

#snap:hover:before{
  content: url("../IMAGES/footer/snapchat_white.png");
  display: inline-block;
  z-index: 10000;
}


#google:before{
  content: url("../IMAGES/footer/google_plus.png");
  display: inline-block;
  z-index: 1000;
  zoom:5%;
}

#google:hover:before{
  content: url("../IMAGES/footer/google_plus_white.png");
  display: inline-block;
  z-index: 10000;
}


















/*
#socialmedia{
  margin-top: 20px;
}


#google{
  zoom: 5%;
  padding: 0;
  overflow: hidden;
  position: relative;
  }


#google:before{
  content: url("../IMAGES/footer/google_plus.png");
  display: inline-block;
  height: 10px;
  width: 10px;
  position: relative;
  right: 5px;
  z-index: 50000;
}

#google:hover:before{
  content: url("../IMAGES/footer/google_plus_white.png");
  display: inline-block;
  height: 10px;
  width: 10px;
  position: relative;
  z-index: 100000;
}
*/
