body, html {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    cursor: default;
}

footer{
  font-family: "Times New Roman Georgia", serif;
}

h1, h2, h3, h4, h5, h6{
  margin: 0px;
  padding: 0px;
  display: inline;
  font-weight: normal;
}

h2{
  font-weight: bold;
}

a{
  text-decoration: none;
  color: inherit;
}

p, a{
  margin: 0;
  padding: 0;
}


.left{
  text-align: left;
}

.right{
  text-align: right;
}

.center{
  text-align: center;
}

.justify{
  text-align: justify;
}



/*/////////////////////////////    PARALLAX    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.parallax{
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    filter:grayscale(5%);
}

#bgimg-1{
  background-image: url('../IMAGES/parallax/website_creating.png');
  min-height: 100%;
  filter:grayscale(0%);
}

#bgimg-2{
  background-image: url('../IMAGES/parallax/bghtml.jpg');
  min-height: 60%;
}

#bgimg-3{
  background-image: url('../IMAGES/parallax/bgcss.png');
  min-height: 60%;
}

#bgimg-11{
  background-image: url('../IMAGES/about/web_developer2.jpeg');
  min-height: 80%;
}

#bgimg-12{
  background-image: url('../IMAGES/about/jezyki.jpg');
  min-height: 60%;
}

#bgimg-21{
  background-image: url('../IMAGES/contact/contact.jpg');
  min-height: 100%;
  position: relative;
  display: flex;
}

#bgimg-31{
  background-image: url('../IMAGES/learning/learn2.png');
  min-height: 100%;
  position: relative;
    filter: grayscale(25%);
}


/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-width: 1000px) {
    .parallax {
        background-attachment: scroll;
    }
}


/*/////////////////////////////    HEADER    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#naglowek_strony{
  position: fixed;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: white;
  box-shadow: 0px 0px 20px;
  z-index: 1000;
}

.header_button{
  height: 100%;
  float: left;
  font-size: 13px;
  padding: 0px 10px;
  transition: 0.3s;
  cursor: pointer;
}

.header_button:hover{
  background-color: #bfbfbf;
}

.icon{
  float: left;
  width: 16px;
  height: 16px;
  margin: 12px 0px;
  margin-right: 5px;
}

#home_icon{
  float: left;
  width: 16px;
  height: 16px;
  margin: 12px 0px;
  margin-right: 5px;
}


/*/////////////////////////////    1 KONTENER    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.kontener_caly{
  min-height:250px;
  width: 100%;
}

.blue{
  color: blue;
}

.orange{
  color: darkorange;
}

.tekst_wstepny{
  text-align: center;
}


/*----  Front-end i Back-end      -------*/

#dziedziny{
  width: 83%;
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 5px;
  text-align: justify;
}

#frontend{
  flex:1;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

#backend{
  flex:1;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

#frontbackobraz{
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 30px;
}

#frontbackimg{
  width: 100%;
  border-radius: 20px;
  box-shadow: 10px 10px 10px gray;
}

/*-----  reszta tekstu pierwszego konteneru   ---*/

.k1{
  width: 70%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  color: #595959;
}





#code{
  height: 40px;
  width:130px;
  margin: auto;
  background-color: #f2f2f2;
  border-radius: 50px;
  transition: 0.7s;
  cursor: pointer;
}
#codeimg{
  height: 40px;
  width: 50px;
  padding: 0 40px;
  margin: auto;
}
#code:hover{
  background-color: white;
}


/*/////////////////////////////    2 KONTENER - HTML I CSS   //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.k2{
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: #595959;
}

.t2{
  width: 100%;
  margin: auto;
  margin-top: 60px;
}

.naglowek_kontenera{
  text-align: center;
  text-shadow: 5px 5px 10px silver;
}

.kontener_bloku{
  margin: auto;
  margin-bottom: 60px;
  margin-top: 60px;
  width: 80%;

}
.obraz_bloku{
  border-radius: 100px;
  width: 100%;
}




/*---  Podpowiedź po najechaniu   -----*/
[data-tooltip]{
  cursor: help;
  position: relative;
}

[data-tooltip]:hover:after{
  content: attr(data-tooltip);
  min-width: 280px;
  background-color: #f2f2f2;
  padding: 6px;
  border-radius: 10px;
  position: absolute;
  bottom: 25px;
  left: 50px;
  font-size: 0.9em;
  font-weight: bold;
  z-index: 1000;
  color: gray;
  text-align: center;
  opacity: 0.8;
}



/*////////////////////////     FOOTER     //////////////////////////////////////////////////////////////////////////////////////////////*/

footer{
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #262626;
  color: silver;
}

/*--  created by    ---*/

#omnie{
  flex: 1;
}

#tworca{
  margin-left: 15px;
  font-size: 13px;
  transition: 0.4s;
}

#tworca:hover{
  color: white;
}


/*----   social media    ---*/
#socialmedia{
  flex:1;
  height: 100%;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.socialdiv{
  background-color: inherit;
  height: 50%;
  border-radius: 6px;
  transition: 0.4s;
  margin-left: 7px;
}

.socialdiv:hover{
  background-color: white;
}

.socialimg{
  zoom:5%;
}






#scroll-top {
    display:none;
    background-image:url('../IMAGES/footer/arrow.png');
    background-size: contain;
    width:70px;
    height:70px;
    position:fixed;
    bottom:80px;
    right:20px;
    z-index: 100000;
    opacity: 0.8;
}






/*XXXXXXXXXXXXXXXXXXXXXXXXXXXX    O MNIE     XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/



.k3{
  margin: auto;
  width:95%;
  display: flex;
  color: #595959;
}

.t3{
  width: 100%;
  margin-bottom: 150px;
  margin-top: 50px;
}

.lewydiv{
  border-radius: 10px;
  float: left;
  width: 50%;
  margin-bottom: -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  padding: 10px;
}

.prawydiv{
  border-radius: 10px;
  float: right;
  width: 50%;
  margin-bottom: -100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  padding: 10px;
}


#aboutimg1{
  width: 80%;
}

#aboutimg2{
  width: 23%;
}

#aboutimg3{
  width: 50%;
  border-radius: 50px;
}

/*---- co umiem?  -----*/

.k4{
  margin: auto;
  width:100%;
  color: #595959;
  margin-bottom: 50px;
}

.n3{
  margin-top: 50px;
  width: 100%;
  text-align: center;
}

.t4{
  width: 100%;
  margin-bottom: 10px;
  margin-top: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}



#sqldiv{
  flex: 1;
}

#sql{
  width: 90%;
}

#umiejetnosci{
 flex: 2;
}

#phpdiv{
  flex: 1;
}

#php{
  width: 90%;
}

#trojcadiv{
  width: 35%;
  margin: auto;
}

#trojca{
  width: 100%;
}


/*XXXXXXXXXXXXXXXXXXXXXXXXXXXX    KONTAKT     XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

#kontakt{
  box-shadow: 0px 0px  50px gray;
  position: relative;
  background-color: rgba(255,255,255, 0.9);
  height: 500px;
  width: 1000px;
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}


#stopka_kontaktu{
  position: fixed;
  bottom: 0px;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #262626;
  color: silver;
}

#mapka{
  width:60%;
  height: 90%;
  margin-left: 30px;
  background-color: rgba(255,255,255, 1);
  border-radius: 10px;
}

#map{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}



#dane{
  width: 30%;
  height: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #595959;
}

.contactdiv{
  width: 100%;
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contacticon{
  width: 10%;
  margin-left: 50px;
  margin-right: 15px;
}













/*XXXXXXXXXXXXXXXXXXXXXXXXXXXX    NAUKA     XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/




#menu, #menu ul, #menu ol {
        list-style-type:none;
        padding:0;
        margin:0;
      }

      /* wygląd głównego elementu - ol */
      #menu {
        position: fixed;
        right:0px;
        z-index: 10000;
        background-color: #262626;
        font-size:16px;
        height: 40px;
        line-height: 40px;
        text-align:center;
        color: white;
      }

      /* wygląd wszystkich elementów - a - znajdujących się w elemencie - ol */
      #menu a {
        display:block;
        text-decoration:none;
        color:#595959;
        padding:0 5px;
      }

      /* wygląd elementów - li - wszystkich dzieci elementu - ol */
      #menu > li {
        float:left;
        width:300px;
        margin-left:0px;
      }

      #menu > li:not(.dol){
        height:20px;
        line-height: 20px;
      }

      /* wygląd elementu - li - pierwszego dziecka elementu - ol */
      #menu > li:first-child {
        margin-left:0;
      }

      /* wygląd elementów - li - wszystkich dzieci elementu - ol - po najechaniu kursorem myszki na element - li */
      #menu > li:hover {
        background-color:white;
        color: #595959;
      }

      /* wygląd elementu - a - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
      #menu > li > a{
      }

      #menu > li:hover > a {
        color:white;
      }

      /* wygląd elementu - ul - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
      #menu > li:hover > ul {
        display:block;
      }

      /* ------------------------CZĘŚĆ-ROZWIJANA-MENU-POZIOM-1----------------------- */

      /* wygląd głównych rozwijanych elementów - ul */
      #menu > li > ul {
        display:none;
      }


      /* wygląd elementu - li - w części rozwijanej */
      #menu > li > ul > li {
        position:relative;
        background-color:#FFF;
      }



      /* wygląd elementu - a - w części rozwijanej */
      #menu > li > ul > li:last-child > a {
        border-radius: 100px;
      }

      /* wygląd elementu - li - w części rozwijanej, po najechaniu kursorem myszki na dany element - li */

      #menu > li > ul > li {
        transition: 0.3s;
      }

      #menu > li > ul > li:hover {
        background-color:#444444;
        color: white;
      }

      /* wygląd elementu - a - w części rozwijanej, po najechaniu kursorem myszki na element - li */
      #menu > li > ul > li:hover > a {
        color:white;
      }

      /* ------------------------CZĘŚĆ-ROZWIJANA-MENU-POZIOM-2----------------------- */

      /* wygląd głównego elementu - ol - w drugiej części rozwijanej */
      #menu > li > ul > li > ol {
        display:none;
        width:100%;
        position:absolute;
        right:100%;
        margin-top:-2.5em;
      }

      /* wygląd głównego elementu - ol - w drugiej części rozwijanej, po najechaniu kursorem myszki na jego rodzica - li */
      #menu > li > ul > li:hover > ol {
        display:block;
      }

      /* wygląd elementów - li - w drugiej części rozwijanej */
      #menu > li > ul > li > ol > li {
        background-color:#FFF;
      }

      /* wygląd elementów - a - w drugiej części rozwijanej */
      #menu > li > ul > li > ol > li > a {
        transition: 0.3s;
      }

      /* wygląd elementu - a - w drugiej części rozwijanej, po najechaniu kursorem myszki */
      #menu > li > ul > li > ol > li > a:hover {
        color:white;
        background-color: #666666;
      }





      #menu > li > ul > li{
        box-shadow: -5px 5px 10px gray;
      }

      #menu > li > ul > li > ol >li{
        box-shadow: -5px 5px 10px gray;
      }


















      .down_arrow{
        width: 18px;
        height: 18px;
        position: relative;
        left: 10px;
        top: 3px;
        margin-right:0px;
      }

      .left_arrow{
        width: 17px;
        height: 17px;
        position: relative;
        float: left;
        left: 10px;
        top: 10px;
        margin-right:0px;
      }


      .right_arrow{
        display: none;
      }


















#kontener_nauki{
  padding-top: 80px;
  width: 100%;
  min-height: 100%;
  background-color: white;
}

#kontener_nauki_glowny{
  padding-top: 0px;
  width: 100%;
  min-height: 100%;
  background-color: white;
}




#stopka_nauki{
  position: fixed;
  bottom: 0px;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #262626;
  color: silver;
}

















#logotyp{
  filter: grayscale(0%);
  position:relative;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

#scena{
  width: 320px;
  height: 320px;
  perspective: 1000px;
  position: fixed;
  top:28%;
}

#kostka{
  position: relative;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;

  animation: obracanie 15s linear infinite normal;
}

.sciana{
  position: absolute;
  width: 101%;
  height: 101%;
  opacity: 1;
  background-color: black;
}


#logo{
  width: 320px;
  height: 320px;;
}

div.front{
  background-color: #2B2A29;
  transform: translateZ(160px);
}
div.back{
  background-color: #2B2A29;
  transform: rotateY(180deg) translateZ(160px);
}
div.right{
  background-color: #2B2A29;
  transform: rotateY(90deg) translateZ(160px);
}
div.left{
  background-color: #2B2A29;
  transform: rotateY(-90deg) translateZ(160px);
}
div.top{
  background-color: #2B2A29;
  transform: rotateX(90deg) translateZ(160px);
}
div.bottom{
  background-color: #2B2A29;
  transform: rotateX(-90deg) translateZ(160px);
}




@keyframes obracanie{
  from{
    transform: rotateX(0deg) rotateY(0deg);
  }

  to{
    transform: rotateX(360deg) rotateY(360deg);
  }
}














/*WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW*/

@media only screen and (max-width: 1200px), screen and (max-height: 620px) {
  #menu{
    position: absolute;
    z-index: 10;
    width: 100%;
    top:40px;
    left:0px;
    height: 40px;
    line-height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }



  #menu > li > ul{
    position: relative;
    width: 100%;
  }

  #menu > li {
    transition: 0.5s;
  }

  #menu > li:hover {
    background-color:#555555;
    color: white;
  }

  #menu > li > ul > li:hover{
    background-color: #666666;
    color: white;
  }

  #menu > li:not(.html) > ul > li{
    background-color:#555555;
    color: white;
    transition: 0.5s;
    position: relative;
  }

  #menu > li:not(.html) > ul > li:hover{
    padding-right: 50px;
  }


  #menu > li > ul {
    display:none;
    position:absolute;
    left: 0px;
    z-index: 1000000;
  }

  #menu > li > ul > li > ol {
    display:none;
    width:85%;
    position:absolute;
    left: 0px;
    top:72px;
    z-index: 1000000;
    margin-top:-1.5em;
  }

  #menu > li > ul > li > ol> li {
    background-color: white;;
    color: #666666;
  }


  #menu > li {
    width:100%;
  }


  #menu > li > ul > li{
    box-shadow: none;
    margin: -1px;
    padding: 5px 0px;
  }

  #menu > li > ul > li > ol >li{
    box-shadow: none;
    margin: -1px;
    padding: 5px 0px;
  }


  #menu > li > ul > li:last-child{
    box-shadow: -4px 4px 6px gray;
  }

  #menu > li > ul > li > ol >li:last-child{
    box-shadow: -4px 4px 6px gray;
  }

  #menu > li:hover {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  #menu > li > ul > li:last-child{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  #menu > li > ul > li > ol:hover{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  #menu > li > ul > li > ol > li:last-child{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }


  #menu > li{
      border-radius: 0px;
  }

  #menu > li:hover{
      border-radius: 0px;
  }



  .down_arrow{
    left: 10px;
    z-index: -1;
  }

  .left_arrow{
    display: none;
  }

  .right_arrow{
    display: block;
    width: 17px;
    height: 17px;
    position: relative;
    right: 5%;
    top: 13px;
    float: right;
    z-index: 0;
    transition: 0.5s;
  }


  #menu > li > ul > li:hover .right_arrow{
    height: 0px;
    width: 0px;
  }





  #kontener_nauki{
    padding-top: 150px;
  }

  table{
    width: 95%;
  }




/*----------------------- KOSTKA ----------------------*/

  #scena{
    top:35%;
  }

}



/*WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW*/







@media only screen and (max-width: 1000px) {



  body{
    font-size: 15px;
  }


  .k1{
    width: 95%;
  }


  #dziedziny{
    width: 95%;
  }



  .k2, .k3{
    width: 95%;
  }





#scroll-top {
  width:45px;
  height:45px;

  bottom:55px;
  right:5px;
}






/*XXXXXXXXXXXXXXXXXXXXXX  O MNIE XXXXXXXXXXXXXXXXXXX*/


.lewydiv, .prawydiv{
  margin-bottom:-50px;
  font-size: 16px;
}


.t4{
  flex-flow: column;
  justify-content: center;
  align-items: center;
}



#sqldiv{
  display: none;
}


#umiejetnosci{
  font-size: 18px;
}

#phpdiv{
  display: none;
}

#trojcadiv{
  width:65%;
}



/*XXXXXXXXXXXXXXXXXXXXXX  KONTAKT XXXXXXXXXXXXXXXXXXX*/


#kontakt{
  flex-direction: column;
  padding-bottom: 230px;
  padding-top: 20px;
  border-radius: 0px;
}

#mapka{
 order: 2;
 width: 90%;
 margin-left: 0px;
}



#dane{
  width: 50%;
  padding-top: 100px;
  margin: auto;
  margin-bottom: 100px;
}

.contactdiv{
  margin: 20px 0px;
  justify-content: center;
}

.contacticon{
  width: 7%;
  margin-left: 0px;
}




/*------------  KOSTKA ----------------*/
@media only screen and (orientation : landscape){


#scena{
  width: 120px;
  height: 120px;
  perspective: 1000px;
  position: fixed;
  top:43%;
}
#logo{
  width: 120px;
  height: 120px;;
}

div.front{
  background-color: #2B2A29;
  transform: translateZ(60px);
}
div.back{
  background-color: #2B2A29;
  transform: rotateY(180deg) translateZ(60px);
}
div.right{
  background-color: #2B2A29;
  transform: rotateY(90deg) translateZ(60px);
}
div.left{
  background-color: #2B2A29;
  transform: rotateY(-90deg) translateZ(60px);
}
div.top{
  background-color: #2B2A29;
  transform: rotateX(90deg) translateZ(60px);
}
div.bottom{
  background-color: #2B2A29;
  transform: rotateX(-90deg) translateZ(60px);
}
}

@media only screen and (orientation : portrait){
  #scena{
    width: 250px;
    height: 250px;
    perspective: 1000px;
    position: fixed;
    top:40%;
  }
  #logo{
    width: 250px;
    height: 250px;;
  }

  div.front{
    background-color: #2B2A29;
    transform: translateZ(125px);
  }
  div.back{
    background-color: #2B2A29;
    transform: rotateY(180deg) translateZ(125px);
  }
  div.right{
    background-color: #2B2A29;
    transform: rotateY(90deg) translateZ(125px);
  }
  div.left{
    background-color: #2B2A29;
    transform: rotateY(-90deg) translateZ(125px);
  }
  div.top{
    background-color: #2B2A29;
    transform: rotateX(90deg) translateZ(125px);
  }
  div.bottom{
    background-color: #2B2A29;
    transform: rotateX(-90deg) translateZ(125px);
  }
}
}

/*WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW*/






@media only screen and (max-width: 600px) {

  /*/////////////////////////////    HEADER    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

  body{
    font-size: 14px;
  }

  #naglowek_strony{
    height: 35px;
  }

  .header_button{
    font-size: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon{
    padding: auto;
    margin: auto;
  }






  /*----------------------------     Front-end i Back-end      ----------------------------------------------------------------------------------------------------------*/

  #dziedziny{
    margin-top: 10px;
    width: 100%;
    flex-direction: column;
  }

  #frontbackobraz{
    width: 100%;
  }

  /*----------------------------     reszta tekstu pierwszego konteneru      ----------------------------------------------------------------------------------------------------------*/

  .k1{
    width: 95%;
    margin-top: 40px;
    margin-bottom: 40px;
  }


  /*/////////////////////////////    2 KONTENER - HTML I CSS   //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

  .k2, .k3{
    width: 95%;
  }

  .kontener_bloku{
    width: 100%;
  }

  .tresc_kontenera{
    text-align: justify;
  }


  /*---------------------------   Podpowiedź po najechaniu    -----------------------------------------------------------------------------------------*/
  [data-tooltip]{
    cursor: help;
    position: relative;
  }

  [data-tooltip]:hover:after{
    content: attr(data-tooltip);
    min-width: 100px;
    background-color: #f2f2f2;
    padding: 6px;
    border-radius: 10px;
    position: absolute;
    bottom: 45px;
    left: 56px;
    font-size: 0.9em;
    font-weight: bold;
    z-index: 1000;
    color: gray;
    text-align: center;
    opacity: 0.8;
  }




  /*////////////////////////     FOOTER     //////////////////////////////////////////////////////////////////////////////////////////////*/

  #scroll-top {
    width:35px;
    height:35px;

    bottom:55px;
    right:5px;
  }








/*XXXXXXXXXXXXXXXXXXXXX    O MNIE    XXXXXXXXXXXXXXXXX*/

.t3{
  margin-bottom: 30px;
}

.lewydiv, .prawydiv{
  clear: both;
  width: 100%;
  font-size: 14px;
  margin-bottom: 50px;
  padding: 0px;
}



#umiejetnosci{
  font-size: 13px;
}

/*XXXXXXXXXXXXXXXXXXXXXX  O MNIE XXXXXXXXXXXXXXXXXXX*/

.contacticon{
  width: 10%;
}







/*------------  KOSTKA ----------------*/
@media only screen and (orientation : landscape){


#scena{
  width: 90px;
  height: 90px;
  perspective: 1000px;
  position: fixed;
  top:46%;
}
#logo{
  width: 90px;
  height: 90px;;
}

div.front{
  background-color: #2B2A29;
  transform: translateZ(45px);
}
div.back{
  background-color: #2B2A29;
  transform: rotateY(180deg) translateZ(45px);
}
div.right{
  background-color: #2B2A29;
  transform: rotateY(90deg) translateZ(45px);
}
div.left{
  background-color: #2B2A29;
  transform: rotateY(-90deg) translateZ(45px);
}
div.top{
  background-color: #2B2A29;
  transform: rotateX(90deg) translateZ(45px);
}
div.bottom{
  background-color: #2B2A29;
  transform: rotateX(-90deg) translateZ(45px);
}
}


/*-----------   NAUKA MENU   -------------*/
#menu{
  top:35px
}


@media only screen and (orientation : portrait){
  #scena{
    width: 150px;
    height: 150px;
    perspective: 1000px;
    position: fixed;
    top:43%;
  }
  #logo{
    width: 150px;
    height: 150px;;
  }

  div.front{
    background-color: #2B2A29;
    transform: translateZ(75px);
  }
  div.back{
    background-color: #2B2A29;
    transform: rotateY(180deg) translateZ(75px);
  }
  div.right{
    background-color: #2B2A29;
    transform: rotateY(90deg) translateZ(75px);
  }
  div.left{
    background-color: #2B2A29;
    transform: rotateY(-90deg) translateZ(75px);
  }
  div.top{
    background-color: #2B2A29;
    transform: rotateX(90deg) translateZ(75px);
  }
  div.bottom{
    background-color: #2B2A29;
    transform: rotateX(-90deg) translateZ(75px);
  }
}

}




@media only screen and (max-height: 300px) and (orientation: landscape) {
  #scena{
    width: 80px;
    height: 80px;
    perspective: 1000px;
    position: fixed;
    top:45%;
  }
  #logo{
    width: 80px;
    height: 80px;;
  }

  div.front{
    background-color: #2B2A29;
    transform: translateZ(40px);
  }
  div.back{
    background-color: #2B2A29;
    transform: rotateY(180deg) translateZ(40px);
  }
  div.right{
    background-color: #2B2A29;
    transform: rotateY(90deg) translateZ(40px);
  }
  div.left{
    background-color: #2B2A29;
    transform: rotateY(-90deg) translateZ(40px);
  }
  div.top{
    background-color: #2B2A29;
    transform: rotateX(90deg) translateZ(40px);
  }
  div.bottom{
    background-color: #2B2A29;
    transform: rotateX(-90deg) translateZ(40px);
  }
}
