body{
  background-image: url('tlo.jpg');
/*  background-repeat: repeat-x;
  background-color: #eaeaea;
*/

margin: 0px;
padding: 0px;
}


#kontener{
  width: auto;
  height: 800px;
  margin: 0px 40px;
}

#naglowek{
  position: relative;
  background-color: rgb(250,250,250);
  width: 100%;
  height: 120px;
  margin: 20px auto;
}

#logo{
  position: absolute;
  left: 10px;
  top: 10px;
  width: 90px;
  height: 55px;
  border: 0;
}
